<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamearena.myph">

    <application 
    		android:name="com.igaworks.IgawDefaultApplication"
    		android:icon="@drawable/app_icon"
			android:label="@string/app_name">

		<meta-data android:name="igaworks_app_key" android:value="441868522" />
		<meta-data android:name="igaworks_hash_key" android:value="3df9725c62da4096" />
		<meta-data android:name="com.google.android.gms.version"
		android:value="@integer/google_play_services_version" />


		<!-- OneStore IAP -->
        <meta-data android:name="iap:api_version" android:value="4" />

        <activity
            android:name="com.onestore.iap.unity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


		<!-- GameArena GA-plug activity -->
        <activity android:name="kr.gamearena.gaplug.UrlSchemeHandleActivity"
        		android:label="@string/app_name">

        	<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="@string/gf365_scheme" />
			</intent-filter>
        </activity>


        <!-- IGAWorks GCM Broadcast Receiver -->
		<receiver android:name="com.igaworks.liveops.pushservice.LiveOpsGCMBroadcastReceiver"
		    android:permission="com.google.android.c2dm.permission.SEND" >
		    <intent-filter>
		        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		        <category android:name="com.gamearena.myph" />
		    </intent-filter>
		</receiver>

		<!-- IGAWorks Push Service -->
		<service android:enabled="true" android:name="com.igaworks.liveops.pushservice.GCMIntentService" />

		<!-- Client Push App Receiver -->
		<receiver android:name="com.igaworks.liveops.pushservice.LiveOpsReceiver"
		    android:permission="com.gamearena.myph.permission.C2D_MESSAGE">
		    <intent-filter>
		        <action android:name="com.igaworks.liveops.pushservice.CLIENT_PUSH_RECEIVE"/>
		    </intent-filter>
		</receiver>

    </application>

  	<!-- Permission 추가 -->
  	<uses-permission android:name="android.permission.INTERNET"/>
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<!-- 옵셔널한 값입니다. -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<!-- from push Permission -->
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.VIBRATE"/>

	<!-- C2DM Permission -->
	<permission android:name="com.gamearena.myph.permission.C2D_MESSAGE" android:protectionLevel = "signature" />
	<uses-permission android:name="com.gamearena.myph.permission.C2D_MESSAGE"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

</manifest>
